{%extends "base.html"%}
{%block main%}
    <form action="pedidos.html" method="GET" class="libros">
      <section class='libros'>
        <img src="/static/img/elNombreDelViento.jpg" alt="el Nombre del Viento" width="100">
        <ul>
          <li><em>El nombre del viento</em></li>
          <li>Patrick Rothfuss</li>
          <li>19,90 €</li>
        </ul>
        <input type="submit" value="Comprar">
      </section>
      <section class='libros'>
        <img src="/static/img/juegoDeTronos.jpg" alt="Juego de Tronos" width="100">
        <ul>
          <li><em>Juego de Tronos</em></li>
          <li>George R.R. Martin</li>
          <li>24,90 €</li>
        </ul>
        <input type="submit" value="Comprar">
      </section>
      <section class='libros'>
        <img src="/static/img/losPilaresDeLaTierra.jpg" alt="Los pilares de la Tierra" width="100">
        <ul>
          <li><em>Los pilares de la tierra</em></li>
          <li> Ken Follett</li>
          <li> 14,90 €</li>
        </ul>
        <input type="submit" value="Comprar">
      </section>
      <section class='libros'>
        <img src="/static/img/elTemorDeUnHombreSabio.jpg" alt="El temor de un hombre sabio" width="100">
        <ul>
          <li><em>El temor de un hombre sabio</em></li>
          <li>Patrick Rothfuss</li>
          <li>19,90 €</li>
        </ul>
        <input type="submit" value="Comprar">
      </section>
    </form>
{%endblock%}