{%extends "base.html"%}
{%block main%}
    <section class="inicio">
      <h1>Catálogo número 98. Novedades diciembre 18.</h1>
      <img src="/static/img/catalogue.png" alt="catalogo">
      <p>Hemos seleccionado cuidadosamente los mejores libros que hemos ido añadiendo a nuestros listados durante el
        último mes. Podría decirse que no están todos los que son pero que sí que son todos los que están. Libros
        usados, antiguos y los libros nuevos de fondo y novedad que más nos han interesado.</p>
      <p>Rogamos difundan este catálogo entre bibliófilos, lectores y amantes de libro.</p>
    </section>
    <section class="inicio">
      <h1>EXPOSICIÓN GEOMETRÍAS ONÍRICAS</h1>
      <img src="/static/img/expo.jpg" alt="EXPOSICIÓN" width="300">
      <p>
        Nacido en Madrid en 1964. Artista plástico autodidacta, que experimenta con distintas técnicas conocidas en el
        mundo del arte, e inventor de nuevas técnicas y estilos de creación propia. Diseñador e ilustrador. Realiza
        escultura basada en la arquitectura y la geometría. Es cofundador del grupo de artistas plásticos ARA DE MADRID,
        con el proyecto PEQUEÑO MADRID. Además es miembro de la Asociación Española de Pintores y Escultores (AEPE). Su
        obra ha sido reconocida por miembros del Museo Nacional Centro de Arte Reina Sofía, así como por miembros del
        Instituto Valenciano de Arte Moderno, miembros del Museo del Prado y conservadores de arte de la Comunidad de
        Madrid y también por reconocidos críticos de arte. Su obra está siendo de interés para galerías de arte de
        NuevaYork yTokio. Cuenta con una larga trayectoria artística con numerosas exposiciones en salas de arte. Tiene
        obras en Instituciones españolas y en colecciones particulares de España y Europa. Ha sido entrevistado en el
        programa de radio La mañana en Madrid, en la Cadena COPE, sobre su obra de Madrid, así como un reconocimiento de
        su obra por la Agencia EFE. Sus obras han sido seleccionadas y premiadas en varios certámenes, además de haber
        aparecido en revistas de arte y prensa local y nacional.
      </p>
      <p>Recogidas, 24 - Granada</p>
      <p>24 Marzo DE 9:30 h. A 21:30 h.</p>
    </section>
    <section class="inicio">
      <h1>TARDE CON LA AUTORA DE LUNAS DE RONA</h1>
      <img
        src="https://2.bp.blogspot.com/-bxv8_PJvT-g/WNp3gpWVQRI/AAAAAAAALrw/_pKz2JDNnV8G_TTSiEO6GucncnEKUgW3QCLcB/s1600/las-lunas-de-Rona-Doce-pecados-del-alma-y-un-minuto-de-redencion.png"
        alt="Cristina Pernas" width="300">
      <p>
        Cristina Pernas nos presenta Te presto mi voz. La Edad Oscura sumió al hombre en la desesperación durante más de
        cuatro siglos, los que separan a los personajes de esta obra de Te presto mi voz la Gran Guerra que regó la
        Tierra de hambrunas, enfermedades y contiendas. Nos trasladamos a una época ficticia en un futuro incierto.
        Pétrola pertenece a la antigua orden de los escribas, la única que mantiene viva la práctica ancestral de la
        escritura tras la devastación que redujo las poblaciones humanas a confinarse en grandes ciudades con un
        gobierno propio, desperdigadas a lo largo de los cinco continentes. Su ordenada rutina se rompe cuando traiciona
        su ley por amor, convirtiéndose en una proscrita. Un viaje trepidante en el que conocerá la traición, la
        lealtad, el amor, el abandono, la amistad, la muerte y la vida en una sociedad deshumanizada hasta el extremo de
        que el hombre parece involucionar, sometiéndose dócilmente a líderes opacos que un día fueron servidores pero
        que se tornaron en crueles amos.
      </p>
      <p>Recogidas, 24 - Granada</p>
      <p>12 Abril 17:00h.</p>
    </section>
{%endblock%}