ul {
  display: flex;
  flex-wrap: wrap;
}
ul li {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  margin-left: 15px;
}
ul li p {
  font-size: large;
}
h2 {
  margin-left: 10px;
  margin-top: 10px;
}
.pagination{
  width: 100%;
}