{%extends "base.html"%}
{%block main%}
<section class="inicio">
  <h1>Catálogo número 98. Novedades diciembre 18.</h1>
  <img src="/static/img/catalogue.png" alt="catalogo">
  <p>Hemos seleccionado cuidadosamente los mejores libros que hemos ido añadiendo a nuestros listados durante el
    último mes. Podría decirse que no están todos los que son pero que sí que son todos los que están. Libros
    usados, antiguos y los libros nuevos de fondo y novedad que más nos han interesado.</p>
  <p>Rogamos difundan este catálogo entre bibliófilos, lectores y amantes de libro.</p>
</section>
<section class="inicio">
  <h1>EXPOSICIÓN GEOMETRÍAS ONÍRICAS</h1>
  <img src="/static/img/expo.jpg" alt="EXPOSICIÓN" width="300">
  <p>
    Nacido en Madrid en 1964. Artista plástico autodidacta, que experimenta con distintas técnicas conocidas en el
    mundo del arte, e inventor de nuevas técnicas y estilos de creación propia. Diseñador e ilustrador. Realiza
    escultura basada en la arquitectura y la geometría. Es cofundador del grupo de artistas plásticos ARA DE MADRID,
    con el proyecto PEQUEÑO MADRID. Además es miembro de la Asociación Española de Pintores y Escultores (AEPE). Su
    obra ha sido reconocida por miembros del Museo Nacional Centro de Arte Reina Sofía, así como por miembros del
    Instituto Valenciano de Arte Moderno, miembros del Museo del Prado y conservadores de arte de la Comunidad de
    Madrid y también por reconocidos críticos de arte. Su obra está siendo de interés para galerías de arte de
    NuevaYork yTokio. Cuenta con una larga trayectoria artística con numerosas exposiciones en salas de arte. Tiene
    obras en Instituciones españolas y en colecciones particulares de España y Europa. Ha sido entrevistado en el
    programa de radio La mañana en Madrid, en la Cadena COPE, sobre su obra de Madrid, así como un reconocimiento de
    su obra por la Agencia EFE. Sus obras han sido seleccionadas y premiadas en varios certámenes, además de haber
    aparecido en revistas de arte y prensa local y nacional.
  </p>
  <p>Recogidas, 24 - Granada</p>
  <p>24 Marzo DE 9:30 h. A 21:30 h.</p>
</section>

{%endblock%}