{%extends 'base.html' %}
  {%block main %}
    <section>
      <h1>Granada</h1>
      <table>
        <tr>
          <th>Nombre</th>
          <th>C.P.</th>
          <th>Teléfono</th>
          <th colspan="2">Horario apertura</th>
        </tr>
        <tr>
          <td>Reyes Católicos</td>
          <td>18002</td>
          <td>555 112233</td>
          <td>10:00 - 20:00</td>
          <td><img src="/static/img/fachada-de-la-libreria01.jpg" width="100" alt="fachada 1"></td>
        </tr>
        <tr>
          <td>Recogidas</td>
          <td>18005</td>
          <td>555 221133</td>
          <td>10:00 - 20:00</td>
          <td><img src="/static/img/fachada-de-la-libreria02.jpg" width="100" alt="fachada 2"></td>
        </tr>
      </table>
    </section>
    <section>
      <h1>Málaga</h1>
      <table>
        <tr>
          <th>Nombre</th>
          <th>C.P.</th>
          <th>Teléfono</th>
          <th colspan="2">Horario apertura</th>
        </tr>
        <tr>
          <td>Teatinos</td>
          <td>11002</td>
          <td>555 113322</td>
          <td>10:00 - 20:00</td>
          <td><img src="/static/img/fachada-de-la-libreria03.jpg" width="100" alt="fachada 3"></td>
        </tr>
        <tr>
          <td>Calle Larios</td>
          <td>11004</td>
          <td>555 212313</td>
          <td>10:00 - 20:00</td>
          <td><img src="/static/img/fachada-de-la-libreria04.jpg" width="100" alt="fachada 4"></td>
        </tr>
      </table>
    </section>
{%endblock%}